body {
	text-align: center;
	display: block;
	margin: 8px;
	color: #444444;
	background-color: #B0C4DE;
	overflow: scroll;
	width:1240px;
}

ul {
	list-style: none;
}

div.header{
	text-align: left;
}


#contents {
	width: 1000px;
	height: 250px;
	color: #444444;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	margin-left:160px;
	background-color: #ffffff;
	font-size: 1.6em;
	line-height: 1.5em;
	border-radius: 15px;
	padding: 10px 10px 7px 7px;
}

.btn-square-pop {
	position: relative;
	display: inline-block;
	padding: 0.3em 0.6em;
	text-decoration: none;
	color: #FFF;
	background: #ff7c5c; /*背景色*/
	border-bottom: solid 2px #FF6347; /*少し濃い目の色に*/
	border-radius: 4px; /*角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px
		rgba(0, 0, 0, 0.19);
	font-weight: bold;
}

.btn-square-pop:active {
	border-bottom: solid 2px #fd9535;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}