.btn-sticky {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #f7f7f7;
	border-left: solid 6px #ff7c5c; /*左線*/
	color: #ff7c5c; /*文字色*/
	font-weight: bold;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	width:250px;
}

.btn-sticky2 {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #ff7c5c;
	color: #FFF; /*文字色*/
	font-weight: bold;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

div.btn-sticky {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #ff7c5c;
	color: #FFF; /*文字色*/
	font-weight: bold;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	pointer-events: none;
}

ul {
	list-style: none;
}

div.logo {
	text-align: left;
	margin-left:30px;
	margin-left:30px;
	overflow: visible;
}

div.link {
	text-align: right;
	top: 1px;
	right: 1px;
	font-size: 1em;
	padding: 50px;
	margin-bottom:50px;
	width:1240px;
	margin-top:-100px;
}

div.link1 {
	position: fixed;
	top: 1px;
	right: 1px;
	font-size: 1em;
	padding: 50px;
	margin-top:-40px;
	margin-right:10px;
	margin-bottom:50px;

}

.btn-square-pop1 {
	position: relative;
	display: inline-block;
	padding: 0.3em 0.6em;
	text-decoration: none;
	color: #FFF;
	background: #ff7c5c; /*背景色*/
	border-bottom: solid 2px #FF6347; /*少し濃い目の色に*/
	border-radius: 4px; /*角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px
		rgba(0, 0, 0, 0.19);
	font-weight: bold;
	border-radius: 4px;
}

.btn-square-pop {
	position: relative;
	display: inline-block;
	padding: 0.3em 0.6em;
	text-decoration: none;
	color: #FFF;
	background: #ff7c5c; /*背景色*/
	border-bottom: solid 2px #FF6347; /*少し濃い目の色に*/
	border-radius: 4px; /*角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px
		rgba(0, 0, 0, 0.19);
	font-weight: bold;
}

.btn-square-pop:active {
	border-bottom: solid 2px #fd9535;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.btn-sticky:active {
	box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
	transform: translateY(2px);
}

h2 {
	text-align: center;
}

#contents {
	width: 1000px;
	height: absolute;
	color: #444444;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	margin-left:160px;
	background-color: #ffffff;
	font-size: 1.6em;
	line-height: 1.5em;
	border-radius: 15px;
	padding: 10px 10px 7px 7px;
}

body {
	text-align: center;
	display: block;
	margin: 8px;
	color: #444444;
	background-color: #B0C4DE;
	overflow: scroll;
	width:1240px;
}

.errorMessages {
	margin-top: 10px;
	margin-left:160px;
	margin-bottom: 10px;
	background: #F5DEB3;
	border: 4px solid;
	border-color: #ff7c5c;
	border-radius: 15px;
	font-size: 1em;
	width: 1000px;
}