body {
	text-align: center;
	display: block;
	margin: 8px;
	color: #444444;
	background-color: #B0C4DE;
	width:1240px;
}

#password-check{
	padding-top:10px;
}

div.checkbox{
	margin-left:-140px;
}

span {
	color: #444444;
	font-size: 0.5em;
	text-align: left;
	margin-left:-140px;
}

ul {
	list-style: none;
}

div.header{
	text-align: left;
}



.btn-sticky {
	margin-top:-20px;
	width: 150px;
	height:50px;
	font-size:1em;
	display: inline-block;
	text-decoration: none;
	background: #f7f7f7;
	border-left: solid 6px #ff7c5c; /*左線*/
	color: #ff7c5c; /*文字色*/
	font-weight: bold;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn-sticky:active {
	box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
	transform: translateY(2px);
}

div.cp_iptxt{
	position: relative;

}

.cp_iptxt input {
	border: 1px solid #1b2538;
	border-radius: 4px;
	box-sizing: border-box;
	width: 300px;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
}

.errorMessages {
	margin-top: 10px;
	margin-left:160px;
	margin-bottom: 10px;
	background: #F5DEB3;
	border: 4px solid;
	border-color: #ff7c5c;
	border-radius: 15px;
	font-size: 1em;
	width: 1000px;
}

#contents {
	width: 1000px;
	height: absolute;
	color: #444444;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	margin-left:160px;
	background-color: #ffffff;
	font-size: 1.6em;
	line-height: 1.5em;
	border-radius: 15px;
	padding: 10px 10px 7px 7px;
}
