body {
	text-align: center;
	display: block;
	margin: 8px;
	color: #444444;
	background-color: #B0C4DE;
	width:1240px;
}

button.delete{
	position: relative;
	display: inline-block;
	padding: 0.3em 0.6em;
	text-decoration: none;
	color: #FFF;
	background: #ff7c5c; /*背景色*/
	border-bottom: solid 2px #FF6347; /*少し濃い目の色に*/
	border-radius: 4px; /*角の丸み*/
	font-weight: bold;
	margin-bottom:5px;
	width:120px;
}

div.delete{
	position: relative;
	display: inline-block;
	padding: 0.3em 0.6em;
	text-decoration: none;
	color: #FFF;
	background: #ff7c5c; /*背景色*/
	border-bottom: solid 2px #FF6347; /*少し濃い目の色に*/
	border-radius: 4px; /*角の丸み*/
	font-weight: bold;
	margin-bottom:5px;
}

button.loginUser {
	position: relative;
	display: inline-block;
	padding: 0.3em 0.6em;
	text-decoration: none;
	color: #FFF;
	background: #B0C4DE; /*背景色*/
	border-bottom: solid 2px #4682B4; /*少し濃い目の色に*/
	border-radius: 4px; /*角の丸み*/
	font-weight: bold;
	margin-bottom:5px;
	pointer-events: none;
	width:120px;
}

.isPassed > span {
	color: #ff7c5c;
}

.isNotPassed >span {
	color: #4682B4;
}

ul {
	list-style: none;
}

div.logo {
	text-align: left;
	margin-left:30px;
}

div.link {
	text-align: right;
	top: 1px;
	right: 1px;
	font-size: 1em;
	padding: 50px;
	margin-bottom:50px;
	width:1240px;
	margin-top:-100px;
}

.btn-square-pop {
	position: relative;
	display: inline-block;
	padding: 0.3em 0.6em;
	text-decoration: none;
	color: #FFF;
	background: #ff7c5c; /*背景色*/
	border-bottom: solid 2px #FF6347; /*少し濃い目の色に*/
	border-radius: 4px; /*角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px
		rgba(0, 0, 0, 0.19);
	font-weight: bold;
}

.btn-square-pop:active {
	border-bottom: solid 2px #fd9535;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

h1 {
	text-align: center;
}

.home-link {
	border-style: none;
}

#contents {
	width: 1000px;
	height: absolute;
	color: #444444;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	margin-left:160px;
	background-color: #ffffff;
	font-size: 1.6em;
	line-height: 1.5em;
	border-radius: 15px;
	padding: 10px 10px 7px 7px;
}

.clearfix:after {
content: " ";
display: block;
clear: both;
height: 0;
visibility: hidden;
}

div.user {
	margin: 0px 1px;
	border: solid 2px #444444;
	border-radius: 0px 0px 15px 15px;
	color: #444444;
	font-size: 20px;
	padding-bottom:5px;
}

div.name {
	margin: 0px 1px;
	background-color: #444444;
	color: white;
	border-top: solid 2px #444444;
	border-radius: 15px 15px 0px 0px;
	font-size: 2.3vh;
}

#userLists ul li {
	float: left;
	list-style: none;
	margin: auto;
	text-align: center;
	width: 32%;
	border: 8px white;
	color: #444444;
}