body {
	text-align: center;
	display: block;
	margin: 8px;
	color: #444444;
	background-color: #B0C4DE;
	overflow: scroll;
	width:1240px;
}

div.home {
	font-size: 0.7em;
	padding: 50px;
	text-align: center;
	margin-top: -40px;
}

.answer {
	position: relative;
	display: inline-block;
	padding: 7px 10px;
	margin-right: 30px;
	min-width: 120px;
	max-width: 100%;
	background: #F5DEB3;
	border-radius: 15px;
	margin-top: 10px;
	font-size: 0.9em;

}

.balloon {
	position: relative;
	display: inline-block;
	margin: 1.5em 0;
	margin-right: 30px;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	font-size: 16px;
	background: #ffffff;
	border-radius: 15px;
	border: solid 3px #F5DEB3;
}

.balloon:before {
	content: "";
	position: absolute;
	top: -30px;
	left: 10%;
	margin-left: -15px;
	border: 15px solid transparent;
	border-bottom: 15px solid #F5DEB3;
}

.balloon p {
	margin: 0;
	padding: 0;
}

#contents {
	width: 1000px;
	height: absolute;
	color: #444444;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	margin-left:160px;
	background-color: #ffffff;
	font-size: 1.6em;
	line-height: 1.5em;
	border-radius: 15px;
	padding: 10px 10px 7px 7px;
}

div.logo {
	text-align: left;
	margin-left: 30px;
}

div.link {
	text-align: right;
	top: 1px;
	right: 1px;
	font-size: 1em;
	padding: 50px;
	margin-bottom:50px;
	width:1240px;
	margin-top:-100px;
}

.btn-square-pop {
	position: relative;
	display: inline-block;
	padding: 0.3em 0.6em;
	text-decoration: none;
	color: #FFF;
	background: #ff7c5c; /*背景色*/
	border-bottom: solid 2px #FF6347; /*少し濃い目の色に*/
	border-radius: 4px; /*角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px
		rgba(0, 0, 0, 0.19);
	font-weight: bold;
}

.btn-square-pop:active {
	border-bottom: solid 2px #fd9535;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

div.explanation {
	text-align: left;
	width: 1000px;
	height: absolute;
	color: #444444;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	margin-left:160px;
	background-color: #ffffff;
	line-height: 1.5em;
	border-radius: 15px;
	padding: 10px 10px 7px 7px;
	font-size: 25px;
}

div.answers {
	font-size: 18px;
	color: #444444;
}

span {
	color: #ff7c5c;
	font-size: 1.5em;
}