body {
	display: block;
	margin: 8px;
	color: #444444;
	background-color: #B0C4DE;
	width:1240px;
}

span {
	width:60%;
}

ul {
	list-style: none;
}

h3 {
	border-bottom: solid 3px #ff7c5c;
	position: relative;
	padding:2%;
}

h3:after {
	position: absolute;
	content: " ";
	display: block;
	border-bottom: solid 3px #B0C4DE;
	bottom: -3px;
	width: 96%;
}

.contents {
	width: 1000px;
	height: absolute;
	color: #444444;
	background-color: #ffffff;
	font-size: 1.6em;
	line-height: 1.5em;
	border-radius: 15px;
	padding: 10px 10px 7px 7px;
	font-size: 1.5em;
	margin-left:160px;
}

div.logo {
	text-align: left;
	margin-left: 30px;
}

div.link {
	text-align: right;
	top: 1px;
	right: 1px;
	font-size: 1em;
	padding: 50px;
	margin-bottom:50px;
	width:1240px;
	margin-top:-100px;
}

.btn-square-pop {
	position: relative;
	display: inline-block;
	padding: 0.3em 0.6em;
	text-decoration: none;
	color: #FFF;
	background: #ff7c5c; /*背景色*/
	border-bottom: solid 2px #FF6347; /*少し濃い目の色に*/
	border-radius: 4px; /*角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px
		rgba(0, 0, 0, 0.19);
	font-weight: bold;
}

.btn-square-pop:active {
	border-bottom: solid 2px #fd9535;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

h1 {
	text-align: center;
}

div.button {
	text-align: center;
}

.btn-square-pop2 {
	width: 150px;
	height: 50px;
	text-decoration: none;
	color: #FFF;
	background: #ff7c5c; /*背景色*/
	border-bottom: solid 2px #FF6347; /*少し濃い目の色に*/
	border-radius: 4px; /*角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px
		rgba(0, 0, 0, 0.19);
	font-weight: bold;
	font-size:30px;
}

.btn-square-pop2:active {
	border-bottom: solid 2px #fd9535;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}